name: Pipeline Workflow
on: [push]
jobs:
    deploy-app:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout
            uses: actions/checkout@v2
          - name: Deploy to Vercel Action   
            uses: amondnet/vercel-action@v20
            with:
              vercel-token: ${{ secrets.VERCEL_TOKEN }}
              vercel-org-id: ${{ secrets.ORGID}}
              vercel-project-id: ${{ secrets.PROJECTID}}